body {
    background-image:url("images/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
#banner {
    background-image: url("images/bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
}
#head1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
}